.projectDetailsNo {
  display: none;
}

.projectDetails {
  border-radius: 8px;
  width: 90%;
  margin: 30px auto;
  background-color: rgb(117, 117, 18);
  animation-name: showProjectDetails;
  animation-duration: 1.5s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform: scale(0, 0);
  opacity: 0;
  height: 0;
}

/* .projectDetailsClose {
  border-radius: 8px;
  width: 90%;
  margin: 30px auto;
  background-color: rgb(117, 117, 18);
  animation-name: showProjectDetails;
  animation-duration: 1.5s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  transform: scale(0, 0);
  opacity: 0;
  height: 0;
} */

@keyframes showProjectDetails {
  50% {
    height: 600px;
    opacity: 0.4;
    transform: scale(1, 1);
  }
  100% {
    height: 600px;
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes hideProjectDetails {
  0% {
    height: 600px;
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    height: 600px;
    opacity: 0.4;
    transform: scale(1, 1);
  }
  100% {
    height: 0;
    opacity: 0.4;
    transform: scale(0, 0);
  }
}
