.projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(22, 22, 22, 0.705);
  width: 90%;
  min-height: 800px;
  padding-top: 40px;
  margin: 40px auto 0 auto;
  border-radius: 25px 25px 0 0;
  -webkit-box-shadow: inset 0px -100px 75px -18px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -100px 75px -18px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -100px 75px -18px rgba(0, 0, 0, 1);
}

.projectsScreenshot {
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(82, 82, 82);
  -moz-box-shadow: 8px 8px 24px 0px rgb(82, 82, 82);
  box-shadow: 8px 8px 24px 0px rgb(82, 82, 82);
  transition: scale 0.2s 0 ease-in;
  transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.2s 0 ease-in;
}

.projectsScreenshot:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
  box-shadow: 8px 8px 26px 2px rgb(155, 155, 155);
}
