.projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(22, 22, 22, 0.705);
  width: 90%;
  min-height: 800px;
  padding-top: 40px;
  margin: 40px auto 0 auto;
  border-radius: 25px 25px 0 0;
  -webkit-box-shadow: inset 0px -100px 75px -18px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -100px 75px -18px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -100px 75px -18px rgba(0, 0, 0, 1);
}
