.personalInfos {
  font-family: "Alegreya Sans SC", sans-serif;
  letter-spacing: 2px;
}

.personalInfos h1 {
  font-size: 2rem;
  font-weight: 100;
}

.personalInfos p {
  font-weight: 400;
}

@media only screen and (max-width: 502px) {
  .personalInfos {
    text-align: center;
  }
  .personalInfos h1 {
    font-size: 1.5rem;
  }

  .personalInfos p {
    font-size: 0.8rem;
  }
}
