.mainPageLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.mainPageLayoutHeader {
  text-align: end;
  letter-spacing: 10px;
  font-size: 4rem;
  font-weight: 200;
  margin: 120px 0 60px 0;
}

.mainPageLayoutHeader {
  margin-right: 30px;
  border-right: 1px solid black;
}

.aboutPage {
  width: 30vw;
  padding: 50px;
  margin: 80px 80px;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(109, 180, 109, 0.6);
  -moz-box-shadow: 8px 8px 24px 0px rgba(109, 180, 109, 0.6);
  box-shadow: 8px 8px 24px 0px rgba(109, 180, 109, 0.6);
}
.aboutPage h2 {
  letter-spacing: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.aboutPage p {
  color: darkgray;
  letter-spacing: 3px;
  word-spacing: 6px;
  line-height: 1.2rem;
  text-indent: 20px;
  min-height: 300px;
  z-index: 90;
}

.aboutPagePhotoWrapper {
  float: right;
  width: 30%;
  margin: 10px;
  border-radius: 5px;
  display: grid;
  place-content: center;
  z-index: 90;
  -webkit-box-shadow: 7px 7px 12px -7px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 7px 12px -7px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 7px 12px -7px rgba(0, 0, 0, 0.6);
}

.pWrapper {
  display: block;
  contain: content;
}

.flyingSpanCSS {
  letter-spacing: 10px;
  opacity: 0.2;
  position: absolute;
  animation-name: flyingSpan;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.flyingSpanJS {
  letter-spacing: 10px;
  opacity: 0.2;
  position: absolute;
  animation-name: flyingSpan;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.flyingSpanHTML {
  letter-spacing: 10px;
  opacity: 0.2;
  position: absolute;
  animation-name: flyingSpan;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flyingSpan {
  0% {
    letter-spacing: 5px;
    top: 50%;
    left: 20%;
  }

  15% {
    letter-spacing: 10px;
    top: 60%;
    left: 30%;
    transition: transform 2s ease-in;
    transform: rotate(30deg);
  }

  30% {
    letter-spacing: 15px;
    top: 80%;
    left: 25%;
    transform: rotate(-30deg);
  }

  40% {
    text-shadow: 0px 0px 3px rgba(112, 112, 112, 0.75);
    font-size: 1.4rem;
    letter-spacing: 20px;
    top: 70%;
    left: 20%;
    transform: rotate(5deg);
  }

  45% {
    letter-spacing: 15px;
    top: 90%;
    left: 35%;
  }

  60% {
    letter-spacing: 15px;
    top: 85%;
    left: 15%;
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(0deg);
    letter-spacing: 10px;
    top: 75%;
    left: 20%;
  }

  90% {
    transform: rotate(10deg);
    top: 60%;
    left: 40%;
  }

  100% {
    letter-spacing: 5px;
    top: 50%;
    left: 20%;
  }
}

@media only screen and (max-width: 1300px) {
  .aboutPagePhotoWrapper {
    float: right;
    width: 50%;
    z-index: 90;
  }
}

@media only screen and (max-width: 720px) {
  .mainPageLayoutHeader {
    text-align: end;
    letter-spacing: 9px;
    font-size: 3.5rem;
    font-weight: 200;
    margin-right: 20px;
  }

  .aboutPage {
    width: 40vw;
    padding: 45px;
    margin: 60px 60px;
  }
  .aboutPage h2 {
    letter-spacing: 4px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.1rem;
  }
  .aboutPage p {
    color: darkgray;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    line-height: 1rem;
    text-indent: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .mainPageLayoutHeader {
    margin-top: 160px;
  }
}

@media only screen and (max-width: 540px) {
  .mainPageLayout {
    align-items: center;
  }

  .aboutPage {
    width: 45vw;
    padding: 38px;
    margin: 55px 55px;
  }
  .aboutPage p {
    font-size: 0.8rem;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-indent: 16px;
  }
}

@media only screen and (max-width: 440px) {
  .mainPageLayoutHeader {
    letter-spacing: 6px;
    font-size: 3rem;
  }
  .aboutPage {
    width: 50vw;
    padding: 30px;
    margin: 50px 50px;
  }
  .aboutPage p {
    font-size: 0.75rem;
    text-indent: 14px;
  }
}
