.contactElementWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
  min-height: 300px;
  border: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 8px;
  text-shadow: 0px 0px 3px rgba(163, 163, 163, 0.75);
  -webkit-box-shadow: 8px 8px 24px 0px rgba(75, 75, 75, 0.6);
  -moz-box-shadow: 8px 8px 24px 0px rgba(75, 75, 75, 0.6);
  box-shadow: 8px 8px 24px 0px rgba(75, 75, 75, 0.6);
  margin: 30px 10px;
}

.contactElementTopStripe {
  height: 8px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.contactElementHeader {
  color: black;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  text-decoration: underline;
}

.contactElementContent a {
  padding: 3px 15px;
  color: rgb(158, 158, 158);
  font-size: 1.1rem;
  display: block;
}

.contactElementContent p {
  color: rgb(78, 78, 78);
  padding: 10px 15px;
  text-align: start;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.contactElementFooter {
  display: grid;
  place-items: center;
}

.linkedIn {
  width: 40px;
  margin: 10px;
  filter: invert(32%) sepia(41%) saturate(3431%) hue-rotate(178deg)
    brightness(90%) contrast(101%);
}

.mobile {
  width: 50px;
  margin: 8px;
  filter: invert(46%) sepia(25%) saturate(928%) hue-rotate(71deg)
    brightness(93%) contrast(89%);
}
.mail {
  width: 50px;
}
