.contactElementWrapper {
  display: flex;
  flex-direction: column;
  width: 310px;
  min-height: 300px;
  border: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.6);
}

.contactElementTopStripe {
  height: 8px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.contactElementHeader {
}

.contactElementContent {
}

.contactElementFooter {
}
