.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(141, 141, 141);

  max-height: 300px;
  background-image: url(../../img/headerbcgr1.svg);
  background-size: cover;
  -webkit-box-shadow: inset 0px 20px 57px -25px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 20px 57px -25px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 20px 57px -25px rgba(0, 0, 0, 1);
}

.headerPortfolioImage {
  height: 20%;
  width: 20%;
  max-width: 175px;
  max-height: 239px;
  margin: 7% 9%;
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}

.darkenMode {
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: makeDark;
  animation-duration: 4s;
}

@keyframes makeDark {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.lightenMode {
  background-color: rgba(0, 0, 0, 0);
  animation-name: makeLight;
  animation-duration: 4s;
}

@keyframes makeLight {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
