.header {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: -260px;
  z-index: 200;
}

.photoAndPersonalInfos {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profilePhotoWrapper {
  height: 80%;
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.7);
  margin-left: 50px;
}

.profilePhoto {
  height: 100%;
  border-radius: 8px;
  opacity: 0.9;
}

.personalInfosWrapper {
  display: grid;
  place-items: center;
  margin-left: 50px;
}

.navBarWrapper {
  position: relative;
  position: sticky;
  z-index: 200;
}

@media only screen and (max-width: 1150px) {
  .socialsInHeader {
    display: none;
  }
  .profilePhotoWrapper {
    margin-left: 40px;
  }
  .personalInfosWrapper {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    height: 300px;
    top: -210px;
  }
  .profilePhotoWrapper {
    height: 70%;
  }

  .navBarWrapper {
    margin-top: 0px;
  }
  .personalInfosWrapper {
    margin: 40px;
  }
}

@media only screen and (max-width: 560px) {
  .profilePhotoWrapper {
    margin-left: 10px;
    height: 60%;
  }
  .personalInfosWrapper {
    margin: 30px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .profilePhotoWrapper {
    margin-left: 5px;
    height: 55%;
  }
  .personalInfosWrapper {
    margin: 30px 10px;
  }
}
