.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
}

.mail {
  width: 50px;
  padding-top: 20px;
  filter: invert(11%) sepia(69%) saturate(7431%) hue-rotate(359deg)
    brightness(92%) contrast(112%);
}
.linkedIn {
  width: 50px;
  padding-top: 12px;
}
.gitHub {
  width: 60px;
}

.whatsapp {
  width: 48px;
}
.mobileInHeader {
  width: 48px;
}

@media only screen and (max-width: 700px) {
  .socials {
    gap: 8px;
  }

  .mail {
    height: 30px;
  }
  .linkedIn {
    height: 25px;
  }
  .gitHub {
    width: 30px;
  }

  .whatsapp {
    width: 25px;
  }
  .mobileInHeader {
    width: 29px;
  }
}
