.socials {
  display: flex;
  flex-direction: row;

  gap: 18px;
}

.socials div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkedInInSocials {
  width: 30px;
  margin: 0;
  padding: 0;
}

.gitHubInSocials {
  width: 60px;
  margin: 0;
  padding: 0;
}

.mailInSocials {
  width: 50px;
  padding: 0;
  margin: 0;
  filter: invert(11%) sepia(69%) saturate(7431%) hue-rotate(359deg)
    brightness(92%) contrast(112%);
}

.whatsappInSocials {
  width: 48px;
  margin: 0;
  padding: 0;
}

.mobileInSocials {
  height: 60px;
  margin: 0;
  padding: 0;
}

.socialP {
  writing-mode: vertical-rl;
}

@media only screen and (max-width: 700px) {
  .socials {
    gap: 8px;
  }

  .linkedInInSocials {
    height: 25px;
  }

  .gitHubInSocials {
    width: 30px;
  }

  .mailInSocials {
    height: 30px;
  }

  .whatsappInSocials {
    width: 25px;
  }

  .mobileInSocials {
    width: 29px;
  }
}
