.projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.8) 30%,
    rgba(0, 0, 0, 0.02) 95%
  );
  width: 90%;
  min-height: 800px;
  padding: 40px 0 0 0;
  margin: 65px auto 0 auto;
  border-radius: 20px 20px 60px 60px;
  -webkit-box-shadow: inset 0px -32px 39px -10px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px -32px 39px -10px rgba(255, 255, 255, 1);
  box-shadow: inset 0px -32px 39px -10px rgba(255, 255, 255, 1);
}

.projectsScreenshot {
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(82, 82, 82);
  -moz-box-shadow: 8px 8px 24px 0px rgb(82, 82, 82);
  box-shadow: 8px 8px 24px 0px rgb(82, 82, 82);
  transition: scale 0.2s 0 ease-in;
  transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.2s 0 ease-in;
}

.projectsScreenshot:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
  box-shadow: 8px 8px 26px 2px rgb(155, 155, 155);
}
