.MainPage {
  background-color: rgba(0, 0, 0, 0);
  animation-name: makeWhite;
  animation-duration: 4s;
}

@keyframes makeWhite {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.MyProjects {
  background-color: rgba(0, 0, 0, 1);
  animation-name: makeBlack;
  animation-duration: 4s;
}

@keyframes makeBlack {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
}
