.MainPage {
  background-color: rgba(117, 117, 117, 0);
  padding-bottom: 100px;
  animation-name: tlo;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes tlo {
  0% {
    background-color: rgba(206, 206, 206, 0);
  }

  100% {
    background-color: rgba(168, 167, 167, 0.6);
  }
}
